<div class="container">
  <div class="card-container">
    <a routerLink="/aluno" class="card">
      <div class="card-content">
        <h1 class="card-title">Alunos</h1>
        <p class="card-description">Clique para acessar a seção de Alunos</p>
      </div>
    </a>
    <a routerLink="/curso" class="card">
      <div class="card-content">
        <h1 class="card-title">Cursos</h1>
        <p class="card-description">Clique para acessar a seção de Cursos</p>
      </div>
    </a>
    <a routerLink="/matricula" class="card">
      <div class="card-content">
        <h1 class="card-title">Matrículas</h1>
        <p class="card-description">Clique para acessar a seção de Matrículas</p>
      </div>
    </a>
  </div>
</div>
