<div class="container">

  <div class="align-center">
    <h1>Cursos</h1>
  </div>
  <div class="box-scroll align-center">
    <table class="tabela">
      <thead>
        <tr>
          <th style="width: 30%">Código</th>
          <th style="width: 30%">Nome</th>
          <th style="width: 30%">Ementa</th>
          <th style="width: 10%">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td>{{curso.codigo}}</td>
          <td>{{curso.nome}}</td>
          <td>{{curso.ementa}}</td>
          <td style="white-space: nowrap">
            <a routerLink="edit/{{curso.codigo}}" class="btn btn-sm btn-primary mr-1">Edit</a>
            <button (click)="deleteCurso(curso.codigo)" class="btn btn-sm btn-danger btn-delete-aluno">
              <span>Delete</span>
            </button>
          </td>
        </tr>
        <tr *ngIf="!cursos">
          <td colspan="4" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <div #successAlert class="alert alert-success" style="display: none;">
      Curso deletado com sucesso!
    </div>
    <div #errorAlert class="alert alert-error" style="display: none;">
      Não é possível deletar: Curso está matriculado em um curso!
    </div>
  </div>
  <div class="align-center">
    <a routerLink="add" class="btn btn-sm btn-success mb-2">Adicionar Curso</a>
  </div>
</div>
